.icon-search{
    background-image: url(../icon/search.svg);
    background-repeat: no-repeat;
    z-index: 2;

}
.icon-map{
    background-image: url(../icon/search2.svg);
    background-repeat: no-repeat;
    padding: 5px;
    padding-right: 41px;
}